.header {

  background-color: rgb(0, 0, 43);
  background-position: center;
  background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/gallery01ue5-1920x1080-ce8c734b5d4e6815b347faccb5cd2ff7.png?resize=1&w=1920");
  background-size: 2000px 500px;
  /* width: 800px; */
  background-repeat: no-repeat;
  


}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: rgb(241, 240, 231);
  font-size: 5rem;
}

.header svg {
  margin: 0 150px 0 150px;
}

.header img{
text-align: center;
width: 100%;
height: 600px;
}

